.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 30px; */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.my-custom-next{
  color: #A271F2;
}
.custom-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 2rem;
}

.custom-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #e2d3fc;
  opacity: 1;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.custom-pagination .swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
  border-radius: none;
  background-color: #7D3BE2;
}


.video-prev:hover svg,
.video-next:hover svg {
  color: #5A27A2;
}


